[submodule "ch02/rust-hello"]
	path = ch02/rust-hello
	url = https://github.com/raimon49/rust-hello
[submodule "ch02/rust-type-study"]
	path = ch02/rust-type-study
	url = https://github.com/raimon49/rust-type-study
[submodule "rust-web-server-study"]
	path = rust-web-server-study
	url = https://github.com/raimon49/rust-web-server-study
[submodule "ch02/rust-web-server-study"]
	path = ch02/rust-web-server-study
	url = https://github.com/raimon49/rust-web-server-study
[submodule "ch02/rust-parallel-mandelbrot-study"]
	path = ch02/rust-parallel-mandelbrot-study
	url = https://github.com/raimon49/rust-parallel-mandelbrot-study
[submodule "ch03/rust-type-study"]
	path = ch03/rust-type-study
	url = https://github.com/raimon49/rust-type-study.git
[submodule "ch04/rust-ownership-study"]
	path = ch04/rust-ownership-study
	url = https://github.com/raimon49/rust-ownership-study.git
[submodule "ch05/rust-reference-study"]
	path = ch05/rust-reference-study
	url = https://github.com/raimon49/rust-reference-study.git
[submodule "ch06/rust-expression-study"]
	path = ch06/rust-expression-study
	url = https://github.com/raimon49/rust-expression-study.git
[submodule "ch07/rust-error-study"]
	path = ch07/rust-error-study
	url = https://github.com/raimon49/rust-error-study.git
[submodule "ch08/rust-lib-study"]
	path = ch08/rust-lib-study
	url = https://github.com/raimon49/rust-lib-study.git
[submodule "ch09/rust-struct-study"]
	path = ch09/rust-struct-study
	url = https://github.com/raimon49/rust-struct-study.git
[submodule "ch10/rust-enum-study"]
	path = ch10/rust-enum-study
	url = https://github.com/raimon49/rust-enum-study.git
[submodule "ch11/rust-trait-and-generics-study"]
	path = ch11/rust-trait-and-generics-study
	url = https://github.com/raimon49/rust-trait-and-generics-study.git
